### Web-Scraping 'Movies Based on Books' from Netflix

In [368]:
# import libraries
from bs4 import BeautifulSoup
import pandas as pd
import itertools
import numpy as np
%run ../pyfiles/data_scraping

In [112]:
# define arguments
title_genre = {'general': '../data/mov_books.html', 'classic': '../data/classic_books.html', 'fantasy': '../data/fantasy_books.html', 'magical': '../data/magical_books.html', 'oscar':'../data/oscar_books.html', 'psychological': '../data/psych_books.html', 'romance':'../data/romantic_books.html', 'supernatural':'../data/super_books.html', 'family':'../data/family_books.html', 'tv_shows':'../data/tv_books.html'}
genres = ['general', 'classic', 'fantasy', 'magical', 'oscar', 'psychological', 'romance', 'supernatural', 'family', 'tv_shows']

In [114]:
# run functions to scrape and make output into a dataframe
df_netflix = get_titles_genres_from_netflix(title_genre, genres)
df = make_netflix_dataframe(df_netflix)
df.head()

     genre                             movie
0  general                  'The Lion Woman'
1  general                    'Carrie Pilby'
2  general    'Same Kind of Different as Me'
3  general                   'The Physician'
4  general  'The Boy in the Striped Pajamas'

In [116]:
# export as csv
df.to_csv('../data/netflix_data.csv')

### Webscraping films and shows with production financed by Netflix ('original')

In [325]:
url = '../data/original_netflix.html'

In [370]:
originals = get_data_from_wikipedia(url)
originals.head()

                     title  netflix_orig
0           House of Cards             1
1            Hemlock Grove             1
2  Orange Is the New Black             1
3               Marco Polo             1
4                Bloodline             1

In [371]:
originals.to_csv('../data/netflix_orig.csv')